<footer class="site-footer">
  <div class="site-footer-wrapper">
    <div id="footer-description">{{ site.description }}</div>
    <br>
    <a href="mailto:{{site.email}}">{% include email.svg %}</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">{% include rss.svg %}</a>
    <a href="https://github.com/{{ site.github_username }}">{% include github.svg %}</a>
    <a href="https://twitter.com/{{ site.twitter_username }}">{% include twitter.svg %}</a>
    <br><br>
    <div id="footer-copyright">{{ site.copyright }}</div>
  </div>
</footer>
